@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
