.products {
  display: flex;
  gap: 15px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px;
}

.product--card {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 3px;
  background-color: rgb(255, 187, 0);
  text-decoration: none;
}

.product--name {
  color: white;
}
